@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

.signature{
	font-variant: small-caps;
}

#the-teacher-of-literature abbr,
abbr.initialism{
	font-variant: all-small-caps;
}

div.note,
*[epub|type~="z3998:letter"]{
	margin: 1em;
}

div.note p,
div.note + p,
*[epub|type~="z3998:scene"] + p,
*[epub|type~="z3998:letter"] > p:first-child,
*[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

section[epub|type~="chapter"]{
	page-break-after: always;
}

*[epub|type~="z3998:song"] p,
*[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

*[epub|type~="z3998:song"] p span,
*[epub|type~="z3998:verse"] p span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

*[epub|type~="z3998:song"] br,
*[epub|type~="z3998:verse"] br{
	display: none;
}

cite{
	display: block;
	text-align: right;
	margin: 1em 0;
}

*[epub|type~="z3998:persona"]{
	font-variant: small-caps;
	text-transform: lowercase;
}

td[epub|type~="z3998:persona"]{
	text-align: right;
	white-space: nowrap;
}

td{
	vertical-align: top;
	padding: .5em;
}

*[epub|type~="z3998:stage-direction"]:before{
	content: "(";
	font-style: normal;
}

*[epub|type~="z3998:stage-direction"]:after{
	content: ")";
	font-style: normal;
}

*[epub|type~="z3998:scene"],
*[epub|type~="z3998:scene"] > h3{
	margin: 1em;
}

*[epub|type~="z3998:scene"] > p {
	margin: auto;
	text-align: center;
	width: 75%;
}

*[epub|type~="z3998:scene"] header{
	font-variant: small-caps;
	text-align: center;
}

section[epub|type~="rearnotes"] > ol > li > p:first-child{
	text-indent: 0;
}

section[epub|type~="rearnotes"] > ol > li{
	margin: 1em 0;
}

abbr.name{
	white-space: nowrap;
}

/* helpful during drafting */
*[epub|type~="z3998:roman"],
*[lang]:not(html),
abbr{
	background: #C0C0C0;
}
