@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub:type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:letter"]{
	margin: 1em;
}

[epub|type~="z3998:scene"] + p,
[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

section[epub|type~="chapter"]{
	break-after: page;
}

[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

cite{
	display: block;
	text-align: right;
	margin: 1em 0;
}

[epub|type~="z3998:drama"]{
	border-collapse: collapse;
}

[epub|type~="z3998:drama"] tr:first-child td{
	padding-top: 0;
}

[epub|type~="z3998:drama"] tr:last-child td{
	padding-bottom: 0;
}

[epub|type~="z3998:drama"] td{
	vertical-align: top;
	padding: .5em;
}

[epub|type~="z3998:drama"] td:last-child{
	padding-right: 0;
}

[epub|type~="z3998:drama"] td:first-child{
	padding-left: 0;
}

[epub|type~="z3998:drama"] td[epub|type~="z3998:persona"]{
	hyphens: none;
	-epub-hyphens: none;
	text-align: right;
	width: 20%;
}

table[epub|type~="z3998:drama"],
[epub|type~="z3998:drama"] table{
	margin: 1em auto;
	width: 100%;
}

[epub|type~="z3998:stage-direction"]{
	font-style: italic;
}

[epub|type~="z3998:stage-direction"]::before{
	content: "(";
	font-style: normal;
}

[epub|type~="z3998:stage-direction"]::after{
	content: ")";
	font-style: normal;
}

[epub|type~="z3998:persona"]{
	font-variant: all-small-caps;
}

[epub|type~="z3998:scene"]{
	margin: 1em;
}

[epub|type~="z3998:scene"] > p{
	margin: auto;
	text-align: center;
	width: 75%;
}

[epub|type~="z3998:scene"] header{
	font-variant: small-caps;
	text-align: center;
}

.note p:first-child + p{
	text-indent: 0;
}

section[epub|type~="endnotes"] > ol > li{
	margin: 1em 0;
}
